/* ---------------- */
/* PÁGINA INICIO */
/* ---------------- */

/* Sección Hero */

section.hero{
    body.inicio &{
        // overflow-x: hidden;
        background: url("../img/Bauhaus_Final_2zu1.jpg");
        background-position: -340px center;

        .slider{
            overflow: hidden;
            height: 100vh;
            width: 100%;
        }

        .row{
            width: 600vw;
            height: 100%;
            background-position: center center;
            background-size: cover;
            display: flex;
            animation: slideInicio 20s infinite 2s;
            position: relative;
            z-index: 1;
            padding: 0;

            .column{
                width: 100vw;

                &:nth-child(1){
                    
                }
                &:nth-child(2){
                    background-image: url("../img/slide-2.jpg");
                }
                &:nth-child(3){
                    background-image: url("../img/slide-3.jpg");
                    
                }
                &:nth-child(4){
                    background-image: url("../img/slide-4.jpg");
                    
                }
                &:nth-child(5){
                    background-image: url("../img/slide-5.jpg");                    
                }
                &:nth-child(6){
    
                }
            }

        }

        @media all and (min-width: 1400px){
            background-position: center center;

        }
    }
}

/* ---------------- */
/* PÁGINA ACERCA DE */
/* ---------------- */
/* General */
body.acerca-de{
    background: url("../img/Bauatelier\ Gropius\,\ Dessau\,\ 1927-1928\ -by\ Edmund\ Collein.jpg");
    background-attachment: fixed;
}
section{
    body.acerca-de &{
        margin-bottom: 300px;

        &:first-of-type{
            margin-bottom: 0;
        }

    }
}

/* Sección Hero */

section.hero{
    body.acerca-de &{
        text-align: center;
        // overflow-x: hidden;
        
        position: relative;
        .row{
            padding-bottom: 175px;
            position: relative;
            background: rgba(white, 0.85);

            @media only screnn and (min-width){
                padding-left: 0;
                padding-right: 0;
            }
            
        }

        .img-contenedor{
            height: 250px;
            width: auto;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -60%);

            img{
                object-fit: contain;
                width: auto;
            }
            
        }

        .column{
            width: 100%;
            max-width: 500px;

            @media only screen and (min-width: 981px){
                width: 50%;
            }
        }
    }
}

/* Sección Nuestra Universidad */

section.nuestra-universidad{
    
    .row{
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        background: rgba(white, 0.85);
        

        @media all and (min-width: 981px){
            padding-left: 120px;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        
    }

    .column{
        &:nth-child(1){
            width: 100%;
            
            

            @media all and (min-width: 981px){
                width: 40%;
                order: 2;
                flex-direction: row;
            }
        }

        &:nth-child(2){
            text-align: center;
            @media all and (min-width: 981px){
                text-align: left;
            }
        }
    }
    .img-contenedor{
        width: 350px;
        margin: 0 auto;
        

    }
}

/* Sección Nuestro Equipo */

section.equipo{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background: rgba(white, 0.85);

    .row{

        max-width: 1170px;

        &:nth-child(2){
            display: flex;
            flex-wrap: wrap;

            .column{
                width: auto;
                height: calc(100vh - 80px);
                flex-grow: 1;
                margin-right: 10px;
                position: relative;
                overflow: hidden;
                z-index: 2;

                @media only screen and (min-width: 768px){
                    justify-content: center;
                    width: calc(50% - 10px);
                }

                @media only screen and (min-width: 1100px){
                    height: auto;
                    width: calc(20% - 10*3px);
                }
                &:last-child{
                    margin-right: 0;
                }
                &:nth-child(1){
                    background: url("../img/pareja.jpg");
                    background-size: cover;
                    background-origin: center center;
                    
                }
                &:nth-child(2){
                    background: url("../img/hombre-1.jpg");
                    background-size: cover;
                    background-origin: center center;
                }
                &:nth-child(3){
                    background: url("../img/mujer-1.jpg");
                    background-size: cover;
                    background-origin: center center;
                }
                &:nth-child(4){
                    background: url("../img/hombre-2.jpg");
                    background-size: cover;
                    background-origin: center center;
                }
                &:nth-child(5){
                    background: url("../img/mujer-2.jpg");
                    background-size: cover;
                    background-origin: center center;
                }

                &:hover{
                    
                    .descripcion{
                        transform: translate(0, 0);
                    }
                }
                .descripcion{
                    color: white;
                    transform: translate(0, 100%);
                    transition: all .5s linear;
                    width: 100%;
                    height: 100%;
                    padding: 1em;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background: rgba(#ee2630, 0.5);

                    @media all and (min-width: 1100px){
                        justify-content: space-between;
                    }

                    div.redes-sociales{
                        text-align: center;
                        i{
                            display: inline-block;
                            font-size: 16px;
                            padding: 6px 11px;
                            
                            color: #ee2630;
                            border-radius: 50%;
                            background: white;
                        }
                    }
                    
                }
                //.descripcion
            }
            // .column
        }
        // &:nth-child(2)
    }
    // .row
}

/* ---------------- */
/* Sección lo que somos */
/* ---------------- */

/* Hero */

section.hero{

    body.lo-que-somos &{
        color: white;
        background-image: url("../img/Bauhaus-1.jpg");

        
        position: relative;
        .row{
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            
            position: relative;
            overflow: hidden;

            @media only screnn and (min-width){
                padding-left: 0;
                padding-right: 0;
            }
            
        }

        
        .column{
            width: 100%;
            
            margin-left: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 30px;
            position: relative;
            z-index: 3;
            background: rgba($back-1, 0.85);
            
            @media only screen and (min-width: 981px){
                justify-content: center;
                width: 60%;
            }

            &:nth-child(1){
                transition: transform 0.5s linear;
                &:hover{
                    transform: scale(1.2);
                    position: relative;
                    z-index: 1;
                }
            }

            &.img-nuestra-historia{
                display: none;
                min-height: 40vh;
                width: 100%;
                background: url("../img/bauhaus-2.jpg");
                background-position: center center;
                background-size: cover;

                @media only screen and (min-width: 981px){
                    display: block;
                    width: 40%;
                }
            }

        }//.column
        
    }//body.lo-que-somos &
}

/* Lo que somos */

section.lo-que-somos{
    padding-top: 40px;
    padding-bottom: 40px;


    .row{
        flex-direction: column;
        
        position: relative;
        @media all and (min-width: 981px){
            padding: 40px 40px 0 60px;
            flex-direction: row;
            
        }

        &::before{
            /* Márgenes */
            display: none;
            content: '';
            height: 100%;
            position: absolute;
            width: 22px;
            top: 0;
            left: 0;
            background: $borde-1;
    
            @media all and (min-width: 981px){
                display: block;
            }
    
        }
        &::after{
            /* márgenes */
            display: none;
            content: '';
            height: calc(100% + 80px);
            position: absolute;
            width: 22px;
            bottom: -40px;
            right: 0;
            background: $borde-1;
            @media all and (min-width: 981px){
                display: block;
            }
        }
    }

    .column{
        padding: 30px;
        width: 100%;
        
        &.video{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-image: url("../img/bauhaus-libro.jpg");
            background-size: cover;
            background-position: center center;
            min-height: 40vh;

            @media all and (min-width: 981px){
                width: 60%;
            }
            .video{
                width: 90%;
                margin: 0 auto;

                @media all and (min-width: 768px){
                    width: 55%;
                }

                iframe{
                    width: 100%;
                }
            }
        }//column.video

        &.texto{

            @media all and (min-width: 981px){
                width: 40%;
            }
        }//&.texto
        

    }//.column
}

section.noticias{
    background-image: url("../img/Bauhaus-1.jpg");
    background-color: rgba($back-1, 0.8);
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    .flecha{
        position: absolute;
        font-size: 48px;
        color: white;
        z-index: 2;

        
        &-izquierda {
            top: 50%;
            left: 1vw;
            transform: translate(0, -50%);
        }

        &-derecha{
            top: 50%;
            right: 1vw;
            transform: translate(0, -50%);
        }

        &:hover{
            cursor: pointer;
        }

    }

    .slider{
        position: relative;
        overflow: hidden;
        width: 90vw;
        margin: 0 auto;
        .row{
            display: flex;
            max-width: none;
            width: 600%;
            padding: 0;
            animation: slideNoticias2 20s infinite;

            @media all and (min-width: 981px){
                animation: slideNoticias1 20s infinite;
            }
        }

        .column{
            width: 90vw;
            display: flex;
            margin: 0;

            @media all and (min-width: 981px){
                width: 30vw;
            }
    
            >div{
                width: 50%;
                flex-grow: 1;
    
                &.noticia{
                    padding: 20px;
                    background-color: $back-1;
                    p{
                        color: white;
                    }
                }
            }
        }

        h3{
            display: table;
            position: relative;
            padding-bottom: 0.5em;
            &::after{
                display: block;
                content: "";
                width: 100%;
                height: 5px;
                background: white;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

    .row{
        &.titulo{
            color: white;
            max-width: none;
            width: 90%;
            text-align: right;

            h2{
                padding-top: 0;
            }
        }
    }


    .img-contenedor{
        img{
            object-fit: cover;
        }
    }
}

/* ------------------- */
/* Sección Historia */
/* ------------------- */

/* hero */
.historia {
    
    section.hero {
        background-image: url("../img/Bauhaus-1.jpg");
        background-attachment: fixed;
        color: white;
        min-height: 100vh;
        padding-top: 80px;

        .row {
            &.historia {
                padding-left: 40px;
                padding-right: 20px;
                display: flex;
                overflow: hidden;

                @media all and (min-width: 981px) {
                    background-color: rgba($back-1, 0.8);
                }

                .column {
                    position: relative;
                    transition: transform .5s linear;
                    &:nth-child(1) {
                        z-index: 1;
                        padding: 20px;

                        @media all and (min-width: 981px) {
                            width: 60%;
                        }

                    }

                    &:nth-child(2) {
                        z-index: 0;
                        @media all and (min-width: 981px) {
                            width: 40%;
                        }
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
            }

            &:not(.historia) {
                padding: 40px;
            }
        }

        .img-contenedor {
            height: 100%;
            max-height: 400px;
        }
    }
}

/* sección creador */

section.creador{
    margin-top: 40px;

    > .row{
        padding-top: 40px;
        max-width: 1080px;
        width: 100%;
        background: white;
        position: relative;

        @media all and (min-width: 768px){
            width: 80%;
        }

        &::before{
            /* Márgenes */
            display: none;
            content: '';
            height: 100%;
            position: absolute;
            width: 22px;
            top: 0;
            left: 0;
            background: $borde-1;

            @media all and (min-width: 981px){
                display: block;
            }

        }
        &::after{
            /* márgenes */
            display: none;
            content: '';
            height: 80%;
            position: absolute;
            width: 22px;
            bottom: 0;
            right: 0;
            background: $borde-1;
            @media all and (min-width: 981px){
                display: block;
            }
        }

        .column{
            &:nth-child(1){
                @media all and (min-width: 981px){
                    width: 20%;
                }
            }
            
            &:nth-child(2){
                @media all and (min-width: 981px){
                    width: 80%;
                }
            }
        }
        .row{
            padding: 0;
            @media all and (min-width: 981px){
                padding: 1em;
            }

            &:nth-child(1){
                display: block;
                .img-contenedor{
                    margin-right: 1em;

                    @media all and (min-width: 768px){
                        float: left;

                    }
                }

                .redes-sociales{
                    clear: both;
                }

            }

            &:nth-child(2){
                >*{
                    @media all and (min-width: 981px){
                        width: 50%;
                    }
                }
            }
        }

    }//>.row
    .redes-sociales{
        color: white;
        i{
            background: $back-2;
        }
    }
}

/* Sección con background */

section.back-1{
    background-image: url("../img/Bauhaus-1.jpg");
    background-attachment: fixed;
    min-height: 250px;
}


/* ------------------- */
/* Sección Contáctanos */
/* ------------------- */

/* Sección hero */

.contactanos section.hero {
    min-height: calc(100vh - 80px);
    background: url("../img/bauhaus-libro.jpg");
    background-position: center center;
    background-size: cover;
    padding-top: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .row {
        padding: 40px;
        background: rgba(white, 0.8);
        display: flex;
        flex-wrap: wrap;
        

        @media only screen and (min-width: 981px) {
            flex-wrap: nowrap;
        }


    }

    .column {

        width: 100%;
        padding-right: 40px;

        @media only screen and (min-width: 981px) {
            width: 50%;
        }

        &:last-child {
            padding-right: 0;
        }

        /* mover texto a la derecha */
        .derecha {
            text-align: right;
        }

        /* color y tamaño a todas las propiedas con .tipo-uno */
        .tipo-uno {
            color: #555758;
            font-size: 22px;
            font-weight: lighter;
        }

        /* h1 */
        h1.tipo-uno {
            font-weight: normal;
        }

        /* parrafos */
        p.tipo-uno {
            margin-bottom: 0;
        }

        p.tipo-dos {
            margin-top: 0;
            font-size: 15px;
            font-weight: bold;
        }

        p {
            font-weight: normal;
            font-size: 19px;
        }
    }

    form {
        display: flex;
        flex-wrap: wrap;

        >* {
            width: 100%;
            margin-bottom: 10px;
            padding: 1em;
            background: #555758;
            border: 0;
            color: white;

            &::placeholder {
                color: white;
            }

            &:last-child {
                margin-bottom: 0;
                padding: 0;
                background: none;
            }
        }

        div.btn {
            text-align: right;

            button {
                background: #555758;
                border: 0;
                color: white;
                padding: 0.60em;
                padding-right: 2em;
                padding-left: 2em;
            }
        }
    }

}

/* --------------- */
/* pagina oficinas */
/* --------------- */

/* section hero */
.oficinas section.hero {
    min-height: 100vh;
    background: url("../img/Bauatelier\ Gropius\,\ Dessau\,\ 1927-1928\ -by\ Edmund\ Collein.jpg");
    background-size: cover;
    padding-top: 80px;
    overflow: hidden;
    line-height: 1.8em;
    text-align: center;
    

    @media only screen and (min-width: 981px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
    }

    .row {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        margin: 5% auto;
        width: 90%;
        background: rgba(white, 0.9);
        position: relative;
        padding: 0;
        border-radius: 30px;

        @media only screen and (min-width: 981px) {
            flex-wrap: nowrap;
            flex-direction: row;
            height: 90%;
        }

        .column {
            height: 100%;
            padding: 20px;
            width: 100%;

            &:nth-child(1) {

                @media only screen and (min-width: 981px){
                    width: 50%;
                    margin-left: 20%;
                    border-radius: 5px;
                    position: relative;
                }
                
                &::after {

                    @media only screen and (min-width: 981px) {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        height: 90%;
                        border-right: 14px solid $borde-3;
                        transform: translate(0, -50%);
                    }
                    

                }
            }

            &:nth-child(2){
                padding:0;
                @media only screen and (min-width: 981px){
                    padding: 20px;
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                
            }

            .img-contenedor {
                margin: 0 auto;
                height: 20vh;
                width: 30vw;

                @media only screen and (min-width: 981px){
                    height: 14vh;
                    width: 11vw;
                }

                img {
                    object-fit: contain;
                }


                &.img-mapa{
                    height: 40vh;
                    width: 100%;

                    @media only screen and (min-width: 981px){
                        width: 31vw;
                        height: 28vh;
                    }
                    
                    img{
                        object-fit: cover;
                    }
                }
            }

            p{
                max-width: 400px;
                margin: 0 auto;
                &.texto{
                    font-size: 24px;
                    letter-spacing: 2px;
                    font-weight: lighter;
                    font-family: 'Quicksand';
                    
                    
                }
                &.horario{
                    font-weight: bold;
                    margin-bottom: 1em;
                }
            }

            div.redes-sociales{
                margin: 1em 0;
                i{
                    display: inline-block;
                    font-size: 16px;
                    padding: 6px 11px;
                    
                    color: white;
                    background: $back-1;
                }
            }//div.redes-sociales

           
        }
    }
}