@import "fonts";

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
/* --------- */
/* Generales */
/* --------- */

$titulo: #cdb16c;
$borde-1: #dda711;
$borde-2: #b2be1d;
$borde-3: #c3ad19;


$back-1: #ee2630;
$back-2: #2e4da8;
/* Encabezados y párrafos */
body{
    line-height: 1.5;
    color: #555758;
    h1, h2, h3, h4 , h5{
        margin: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        font-weight: normal;
        font-size: 24px;
        font-family: 'Quicksand';

        &.titulo{
            color: $titulo;
        }
    }

    font-family: 'Phagspa';
}

section{
    position: relative;
}

/* Separador para hero de páginas */
.separador{
    &-superior {
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        &::after {
            /* Oculto en el móvil */
            content: "";
            display: none;
            height: 0;
            
            /* Se utiliza los bordes para darle una forma de triángulo  */
            border-top: 70px solid $back-1;
            border-bottom: 70px solid transparent;
            border-right: 50vw solid $back-1;
            border-left: 50vw solid transparent;


            @media only screen and (min-width: 1100px) {
                display: block;
            }
        }

    }

    &-inferior {
        width: 100%;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;

        &::after {
            /* Oculto en el móvil */
            content: "";
            display: none;
            height: 0;
            z-index: 0;
            border-top: 70px solid transparent;
            border-bottom: 70px solid $back-2;
            border-right: 50vw solid transparent;
            border-left: 50vw solid $back-2;

            @media only screen and (min-width: 1100px) {
                display: block;
            }
        }


    }
}

/* estilos a todas las clases que tengan row */
.row{
    margin: 0 auto;
    max-width: 1170px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media all and (min-width: 981px){
        flex-wrap: nowrap;
    }
    

    .column{
        width: 100%;
        margin: 0 auto;
    }
}

.row-full{
    display: flex;
    max-width: none;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;

}

.hero{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-position: center center;
    background-size: cover;
}

/* Estilos para contenedor de imágenes */
.img-contenedor{
    max-width: 100%;
    margin: 0 auto;
    img{
        width: 100%;
        max-width: 90vw;
        height: 100%;
        object-fit: cover;
    }
}

/* redes-sociales */
.redes-sociales{
    a{
        color: inherit;
    }
    
    i{
        width: 37px;
        height: 37px;
        font-size: 18px;
        display: inline-block;
        margin-right: 0.2em;
        border-radius: 5px;
        background: white;
        padding: 7px 7px;
        text-align: center;
        line-height: 24px;

        &:last-child{
            margin-right: 0;
        }
    }

    &.circulo{

        i{
            border-radius: 50%;
            width: 40px;
            height: 40px;
            line-height: 26px;

        }

    }
}

/* Botón */
div.btn{
    a.btn{
        color: white;
        background: $borde-3;
        display: inline-block;
        padding: 10px 15px;
        border-radius: 5px;
        transition: .5s;
        text-decoration: none;
        border: 1px solid $borde-3;

        &:hover{
            color: $borde-2;
            background: white;
        }
    }
}



@import "menu";
@import "animaciones";
@import "paginas";
@import "footer";